.navElementsContainer li{
    position: relative;

    height: 60px;
    width: 60px;
    padding: 5px;
    transition: all .3s ease-in-out;
    border-radius: 50%;
}
.navElementsContainer li:hover{
    background-color: var(--c-theme2);
}
.navElementsContainer li:active{
    background-color: var(--c-theme);
}
.navElementsContainer li a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.UserPanelNavBar{
    position: fixed;
    background-color: white;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 560px;
}

@media(max-width:600px){
    .UserPanelNavBar{
        width: 400px;
    }
}
@media(max-width:400px){
    .UserPanelNavBar{
        width: 95vw;
    }
}
@media (max-width:549.99px){
    .UserPanelNavBar{
        width: 100vw;
        bottom: 0px;
        border-radius: 0px !important ;
        border-top-left-radius: 20px !important;
        border-top-right-radius: 20px !important;
    }
    
}