/* src/cards/blogCards2/BlogCard.css */
.blog-card {
  padding: 30px;
  margin-bottom: 16px;
  text-align: left;
}

.blog-card-image{
  width: auto;
  height: 300px;
}

.blog-card-image img{
  height: 100%;
  width: auto;
}



.blog-card-content {
  padding: 16px 0;
}

.blog-card-title {
  font-size: 1.5em;
  margin: 0;
  font-weight: 800;
  text-align: center;
}

.blog-card-description {
  margin-top: 8px;
}
