/* src/cards/blogCards2/BlogCards.css */
.blog-card {
  display: flex;
  flex-direction: column;
  

}


.blog-card-image img {
  width: 100%;
  height: 100%;
}

.blog-card-content {
  padding: 16px;
}

.blog-card-title {
  font-size: 1.5em;
  margin: 0 0 10px;
}

.blog-card-description {
  font-size: 1em;
  color: #555;
}
