/* src/Components/Molecules/Sections/BlogSections.css */
.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  padding: 16px;
  background-color: var(--c-theme2);
}

.blog-item {
  cursor: pointer;
  transition: transform 0.2s;
}

.blog-item .blog-card .blog-card-title {
  font-weight: 700;
  text-align: center;
}

@media (max-width: 1024px) {
  .blog-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .blog-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 576px) {
  .blog-grid {
    grid-template-columns: 1fr;
  }
}

/* Adjustments for single post scenario */
@media (max-width: 576px) {
  .blog-grid {
    justify-items: center; /* Center aligns the single post */
  }

  .blog-item {
    justify-self: center; /* Centers the single post */
  }
}
